#content {
    width: 80%;
    margin: 0 auto; /* Vodorovné zarovnání obsahu do středu */
    text-align: center; /* Text bude vycentrován uvnitř #content */
    color: white;
}

#title {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 60px; /* Změna velikosti fontu na 36px */
    margin-bottom: 20px; /* Mezera pod nadpisem */
    color: white;
}

#about_text {
    width: 80%;
    font-size: 22px;
    margin: 0 auto; /* Vodorovné zarovnání textu do středu */
    text-align: justify;
    line-height: 1.5;
}
